<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text=${title}></titleth:text></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Добавить город</h1>

</div>
<form action="/" method="post" >
    <input type="text" name="city" placeholder="введите название города" class="form-control"><br>
    <input type="text" name="massage" placeholder="введите сообщение" class="form-control"><br>
    <button type="submit" class="btn btn-success"> Добавить</button>
    <a class="me-3 py-2 text-dark text-decoration-none" href="/history">история</a>
</form>
</div>
</body>
</html>